// Typography

h1, .h1,
h2, .h2,
.h {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	margin: 0 0 15px;

	@include media('>=tablet') {
		margin: 0 0 20px;
	}
}

h1, .h1 {
	font-size: $h1-font-size-sm;

	@include media('>=desktop') {
		font-size: $h1-font-size-m;
	}

	@include media('>=widescreen') {
		font-size: $h1-font-size;		
	}
}

h2, .h2 {
	font-size: $h2-font-size-sm;

	@include media('>=tablet') {
		font-size: $h2-font-size-m;
	}

	@include media('>=widescreen') {
		font-size: $h2-font-size;
	}
}


p {
	margin: 0 0 16px;
}

a {
	color: $base-link-color;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

// .d1 {
// 	font-size: 38px;

// 	@include media('>=tablet') {
// 		font-size: 42px;
// 	}
	
// 	@include media('>=widescreen') {
// 		font-size: 48px;
// 	}	
// }